<div class="modal hide" id="checkModal">
  <div class="modal-header">
    <button type="button" class="close" data-dismiss="modal">×</button>
    <h3></h3>
  </div>
  <div class="modal-body">
    <p>Are you sure?</p>
  </div>
  <div class="modal-footer">
    <a href="javascript:void(0)" class="btn" data-dismiss="modal">Cencel</a>
    <a href="javascript:void(0)" class="btn btn-primary">Yes</a>
  </div>
</div>